$color-main: #d0963e;
$hover-main-color: #b08fe2;
$color-white: #fff;
$color-black: black;
$color-gray: #c2c2c2;
$color-gray2: #a9b3b2;
$color-gray3: #7d7d7d;
$color-gray4: #9f9f9f;
$color-gray5: #3b3535;
$color-gray6: #dedede;
$color-red: #FF4A55;
$color-orange: #f6b121;
$color-orange2: #f9a229;
$color-orange3: #8d6d3b;
$color-hover: #f6b121;
$color-dots: #fb9d00;
$color-red: #c95f32;
$color-yellow: #fee42f;
$color-green: #03ae03;